<!-- search.component.html -->

<div class="search-container">
    <h2>Search Users</h2>
  
    <div class="search-input">
      <input type="text" [(ngModel)]="searchName" placeholder="Enter GitHub username" />
      <button (click)="searchUsers()">Search</button>
    </div>
  
    <div class="search-results" *ngIf="searchResult$ | async as searchResult">
      <div *ngIf="searchResult">
        <h3>Search Result</h3>
        <div class="user-info">
          <img src="{{ searchResult.avatar_url }}" alt="User Avatar" />
          <div class="details">
            <p><strong>Login:</strong> {{ searchResult.login }}</p>
            <p><strong>ID:</strong> {{ searchResult.id }}</p>
            <!-- Add more details as needed -->
          </div>
        </div>
      </div>
    </div>
  </div>
  